<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SQL Challenge</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-7">
          <h1><strong>My Blog</strong></h1>
