<% include partials/header %>
<div class="well">
  <form action="/new" method="post">
    <div class="form-group">
      <label>Title</label>
      <br>
      <input type="text" name="title">
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea name="content" class="form-control" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
<% include partials/footer %>
