<% include partials/header %>
<a type="button" href="/" class="btn btn-primary btn-block">
  Back to Home
</a>
<br>
  <div class="well">
    <h4><strong><%= post.title %></strong></h4>
    <br>
    <p>
      <%= post.content %>
    </p>
    <br>
    <hr>
    <a href="/edit/<%= post.id %>" class="btn btn-default edit-post"
      title="Edit">
      <span class="glyphicon glyphicon-edit" aria-hidden="true">
      </span>
    </a>
  </div>
<% include partials/footer %>
